* {
    background-color: rgba(249, 213, 255, 0.76);
}

* {
    color: rgb(0, 0, 0);
    text-shadow: -1px 1px 20px rgb(255, 252, 236),
        1px 1px 2px rgb(187, 249, 255),
        1px -1px 0 rgb(255, 255, 255),
        -1px -1px 0 rgb(255, 255, 255);

}