.container{
    line-break: auto;
    padding: 5px;
    
}

#header{
   padding: 5%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-style: oblique;
   background-color: rgb(82, 82, 241);
}

.icon{
    height: 180px;
    float: left;
}